# Python
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.env
*Caddyfile*
!Caddyfile.example

# Testing
.pytest_cache/
.coverage
htmlcov/

# Logs and outputs
logs/
*.log
*.pdf
*.zip
*.tar.gz

# OS specific
.DS_Store
Thumbs.db
